body {
    margin: 0 auto;
    width: 90%;
}

.zoubir {
    width: 250px;
    margin: 0px 36%;
    background-image: url(/img/back.png);
    border-radius: 8px;
    position: absolute;
    filter: grayscale(0%);
}

.zoubir:hover {
    filter: grayscale(100%);
}

.hd {
    text-align: center;
    text-decoration: underline;
}

.contre {
    background-image: url(/img/back.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.ull {
    padding: 0;
}

.lorem {
    width: 50%;
    text-align: center;
    margin: 200px auto 0px auto;
}

.sup {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: center;
    margin: -20px;
}

.Basic {
    margin: 20px 140px;
    padding: 60px;
    text-align: center;
    background-color: #D5D5F9;
    transition: 1s;
    border-radius: 10px;
}

.Basic:hover {
    background-color: rgba(119, 73, 193);
    color: white;
    padding: 70px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
    justify-content: flex-end;
}