body {
    width: 90%;
    margin: auto;
}

h1 {
    background-color: #7749C1;
    border-radius: 15px;
    color: lavenderblush;
    font-size: 50 px;
    text-align: center;
    padding: 20px;
    letter-spacing: 6px;
}

h3 {
    padding: 10px;
    flex-direction: column;
}

.art {
    height: 150px;
}

.trois {
    height: 150px;
}

.contenu {
    display: flex;
    justify-content: space-between;


}



.mar {
    text-align: 20%;
}

.tit {
    display: flex;
}

.titre1 {
    margin-left: 250px;
}

.titre2 {
    margin-left: 300px;
}

.btn {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    background-image: linear-gradient(45deg, #7749C1, #9b59b6, #3498db, #3742fa);
    background-size: 800px;
    background-position: right;
    margin-top: 40px;
}

.btn {
    animation: hover 5s infinite;
}

@keyframes hover {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;


    }
}

.dib {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titre {
    text-align: justify;
}
.mob{
    position: relative;
    left: 40px;
    height: 130px;
    width: 150px;

}
.mob1{
    right:20px;
}