.ensemble{
    font-size:30px ;
     text-align: justifys;
    
}

body{
    
    margin-left: 160px;
    margin-top: 180px;
    font-family:'Montserrat', sans-serif;
    width: 90%;
    margin: auto;
   

    
}
.email{
font-size: 25px;
}

.icon {
    display: inline-block;
    
  }
  .tt{
      position: absolute;
      top: 95px;
      left: 1000px;
      padding: 20px;
      
  }
  .tt input{
    margin-bottom: 30px;
  }
  .Nom{
    
     margin-bottom: 10px;
     width: 380px;
     height: 30px;
    
  }
    .Message{
        padding-bottom: 140px ;
        
    }
    .envoyer{
      margin-top: 15px;
      font-family: 'Montserrat', sans-serif;
       background-image: linear-gradient(45deg,#7749c1, #9b59b6, #3498db, #3742fa);
        border-radius: 3em 0.5em;
        padding: 1em;
        font-size: 100%;
        background-size: 800px;
        background-position: right;
        animation:hover 2s infinite;
        color: white;
    }
    @keyframes hover {
        0% {
            background-position: right;
        }
    
        100% {
            background-position: left;
       }
    }

.lien{
  text-decoration: none;
  color: white;
}
 .contenu{
  background-color: #7749C1;
  padding: 35px;
 }
  

  
  