$color1: hsl(322, 100%, 66%);
$color2: hsl(193, 100%, 96%);
$color3: hsl(192, 100%, 9%);
$color4: hsl(0, 0%, 100%);
$color5: hsl(208, 11%, 55%);
@mixin flex($space, $colrow) {
    display: flex;
    flex-direction: $colrow;
    justify-content: $space;
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
// -------------------------------container
p {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section1 {
    background-image: url(/images/bg-hero-desktop.svg);
    padding: 0px 40px;
    margin-top: 0;
    background-color: $color2;
    font-size: 18px;
    .container {
        // margin-top: 20px;
        @include flex(space-between,
        row);
        margin-bottom: 20px;
        .pr {
            background-color: $color4;
            padding: 0px 30px;
            margin-right: 100px;
            border-radius: 30px;
            box-shadow: 0 3px 3px 0 #d2d2d2;
            margin-top: -10px;
            p {
                padding: 0 40px;
            }
        }
    }
    .build {
        @include flex(space-between,
        row);
        .text {
            padding-top: 30px;
            padding-left: 30px;
            button {
                border: 1px solid $color1;
                background-color: $color1;
                width: 30%;
                height: 10%;
                border-radius: 20px;
                color: $color4;
            }
        }
        .header1 {
            width: 60%;
            font-family: 'Poppins', sans-serif;
        }
        p {
            width: 75%;
        }
        .img1 {
            width: 120%;
            margin-left: -100px;
        }
    }
}

@import'./style2';
.footer {
    text-align: center;
    background-color: $color4;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 20%;
    margin: auto;
    border-radius: 8px;
    button {
        padding: 10px 30px;
        color: $color4;
        border: none;
        background-color: $color1;
        border-radius: 20px;
    }
}

.fot {
    padding: 10px;
    background-color: $color3;
    color: $color4;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    .aaa {
        grid-column: 1/2;
        grid-row: 1/2;
        .logo1 {
            background-color: $color4;
        }
    }
    .bbb {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-top: 15px;
    }
    .ccc {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .ddd {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .eee {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .fff {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .ggg {
        grid-column: 4/5;
        grid-row: 2/3;
        .fab {
            font-size: 40px;
        }
    }
    .uuu {
        grid-column: 4/5;
        grid-row: 5/6;
    }
}