h1 {
    text-align: center;
    font-size: 70;
    background-color: #7749C1;
    color: white;
    border-radius: 5px;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    transition-property: width, height;
}

.photo:hover {
    width: 300px;
    height: 300px;

}

.service {
    display: flex;
    text-align: center;
    padding: %;
    line-height: 30px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    background-image: linear-gradient(45deg, #7749C1, #9b59b6, #3498db, #3742fa);
    background-size: 800px;
    background-position: right;
    margin-top: 10px;
}

.btn {
    animation: hover 5s infinite;
}

@keyframes hover {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.para {
    margin: 5%;
}

.para:hover {
    background-color: plum;
}

@media(max-width:500px) {
    .service {
        font-size: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "para1"
            "para2"
            "para3"
            "para4"
            "para5"
            "para6";
    }

    .para1 {
        grid-area: para1;
    }

    .para2 {
        grid-area: para2;
    }

    .para3 {
        grid-area: para3;
    }

    .para4 {
        grid-area: para4;
    }

    .para5 {
        grid-area: para5;
    }

    .para6 {
        grid-area: para6;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 13px;
    }

    .photo {
        width: 100px;
        height: 100px;
    }

    .para1 {
        grid-area: para1;
    }